@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

form{
    width: 500px;
}
h5{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
}
table{
    border: 1px solid #000000;
}
td{
    border: 1px solid #000000;
}
.form-header{
    font-family: 'Montserrat', sans-serif;
}
.input-header{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #424242;
}
.table-body{
    font-family: 'Montserrat:500,700', sans-serif;
}

html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
.nav-wrapper{
    background: #2962ff;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    float: right;
}
.info-header{
    font-size: larger;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
