@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.margin {
  margin: 0 !important;
}

.nav-wrapper{
    width: 100%;
    background: #2bbbad;
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
}
.container{
    padding: 50px;
}
td{
    font-family: 'Montserrat:500', sans-serif;
}

.form-header{
    font-family: 'Montserrat', sans-serif;
}

.input-header{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #424242;
}
.course-table{
    top: 20%;
    margin: 100px;
}
.table-body{
    font-family: 'Montserrat:500,700', sans-serif;
    font-weight: bold;
}
.info-header{
    font-size: larger;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.brand-logo{
    font-family: 'Montserrat', sans-serif;
}

