<form name="cadastre" class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="row">
                <div class="col s12">
                    <label class="input-header" for="name">Nome do curso</label>
                    <input required placeholder="Nome do curso" id="name" name="name" type="text" ng-model="course.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label class="input-header" for="total-class">Dias de aula na semana</label>
                    <input required placeholder="Dias de aula" id="total-class" name="total-class" type="text" ng-model="course.totalClass"/>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label class="input-header" for="day-class">Total de aulas por dia</label>
                    <input required placeholder="Total de aulas" id="day-class" name="day-class" type="text" ng-model="course.dayClass"/>
                </div>
            </div>
            <div class="row input-field">
                <button class="waves-effect waves-light btn" type="button" ng-disabled="cadastre.$invalid" ng-click="saveCourse(course)">Cadastrar</button> 
            </div>
        </div>
    </div>
</form>
